.container {
  // display: flex;
  padding: 10px;
}


.btnActions {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background-color: #b61c0b;
  color: white;
  border: none;
  border-radius: 4px;
  width: 120px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  margin-bottom: 20px;
}

.btnActions:hover {
  background-color: #701c12;
}

a {
  text-decoration: none;
}

.noitems {
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}