.cardWrap {
  display: flex;
  padding-top: 100px;
  gap: 15px;
}

.cardWrapTable {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.cardWrapColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.icon{
  width: 40px;
  height: 40px;

  padding-left: 10px;
  cursor: pointer;
}


